﻿@model Ydelsesberegner.Admin.ViewModels.SlideViewModel

<div class="form-horizontal" ng-controller="questionController">
    @{
        if (Model.Question != null && Model.Question.QuestionId != 0)
        {
            @Html.HiddenFor(model => model.Question.QuestionId)
        }
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Question.QuestionSystemName, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Question.QuestionSystemName, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Question.QuestionSystemName, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Question.QuestionText, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Question.QuestionText, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Question.QuestionText, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            @Html.DisplayNameFor(model => model.Question.Answer)
        </label>
        <div class="col-md-10">
            <table id="answer-table" class="table" ng-form="answersForm">
                <tbody>
                <tr ng-if="answers.length == 0">
                    <td colspan="2">
                        <button type="button" ng-click="add()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Opret svarmulighed</button>
                    </td>
                </tr>
                <tr ng-repeat="answer in answers track by $index">
                    <td>
                        <input type="hidden" ng-if="answer.AnswerId" ng-model="answer.AnswerId" name="Question.Answer[{{$index}}].AnswerId" value="{{answer.AnswerId}}" />
                        <input type="text" ng-model="answer.AnswerText" name="Question.Answer[{{$index}}].AnswerText" class="form-control"/>
                        @*<span ng-show="answersForm['Question.Answers[' + $index + '].AnswerText'].$touched && answersForm['Question.Answers[' + $index + '].AnswerText'].$invalid" class="text-danger">Feltet skal udfyldes.</span>*@
                    </td>
                    <td>
                        <button type="button" ng-click="add()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Opret svarmulighed</button>
                        <button type="button" ng-click="remove($index)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus-sign"></span> Fjern svarmulighed</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>