﻿@using Ydelsesberegner.Admin.ViewModels
@model Ydelsesberegner.Admin.ViewModels.SlideViewModel

<div class="form-horizontal">
    @Html.HiddenFor(model => model.SlideId)
    @Html.HiddenFor(model => model.SlideOrderIndex)

    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ApplicationId", (SelectList)ViewBag.Applications, "Vælg applikation", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SlideName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SlideName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SlideName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SlideHeadline, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SlideHeadline, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SlideHeadline, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Attachment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (ViewBag.Attachments != null && ((List<AttachmentViewModel>)ViewBag.Attachments).Count > 0)
            {
                foreach (var attachment in (List<AttachmentViewModel>)ViewBag.Attachments)
                {
                    <a href="@Url.Action("DownloadAttachment", "Attachments", new {attachmentId = attachment.AttachmentId })">@attachment.FileName</a> <text>|</text> <a href="@Url.Action("DeleteAttachment", "Attachments", new { attachmentId = attachment.AttachmentId })">Slet</a>
                    <br />
                }
            }
            else
            {
                <input type="file" id="Attachment" name="Attachment" multiple />
            }
            @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsResultSlide, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsResultSlide)
                @Html.ValidationMessageFor(model => model.IsResultSlide, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DisplayNextButton, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DisplayNextButton)
                @Html.ValidationMessageFor(model => model.DisplayNextButton, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DisplayReturnToStartButton, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DisplayReturnToStartButton)
                @Html.ValidationMessageFor(model => model.DisplayReturnToStartButton, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DisplayTextBox, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DisplayTextBox)
                @Html.ValidationMessageFor(model => model.DisplayTextBox, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DisplayPrintButton, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DisplayPrintButton)
                @Html.ValidationMessageFor(model => model.DisplayPrintButton, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SlideText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.SlideText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SlideText, "", new { @class = "text-danger" })
        </div>
    </div>
</div>