﻿@model IEnumerable<Ydelsesberegner.Admin.ViewModels.ApplicationViewModel>

@{
    ViewBag.Title = "Beregnere";
}

<h2>@ViewBag.Title</h2>

<div class="row margin-top">
    <div class="col-md-12">
        <table id="applications-table" class="table table-striped table-responsive table-hover">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Content/Scripts/Custom/applications.js"></script>
}