﻿body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
}

    p.small {
        font-size: 16px;
    }

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #18BC9C;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    background: #18BC9C;
    color: white;
}

    header .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    header img {
        display: block;
        margin: 0 auto 20px;
    }

    header .intro-text .name {
        display: block;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
    }

    header .intro-text .skills {
        font-size: 1.25em;
        font-weight: 300;
    }

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

.navbar-custom {
    background: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

    .navbar-custom a:focus {
        outline: none;
    }

    .navbar-custom .navbar-brand {
        color: white;
    }

        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus,
        .navbar-custom .navbar-brand:active,
        .navbar-custom .navbar-brand.active {
            color: white;
        }

    .navbar-custom .navbar-nav {
        letter-spacing: 1px;
    }

        .navbar-custom .navbar-nav li a {
            color: white;
        }

            .navbar-custom .navbar-nav li a:hover {
                color: #18BC9C;
                outline: none;
            }

            .navbar-custom .navbar-nav li a:focus,
            .navbar-custom .navbar-nav li a:active {
                color: white;
            }

        .navbar-custom .navbar-nav li.active a {
            color: white;
            background: #18BC9C;
        }

            .navbar-custom .navbar-nav li.active a:hover,
            .navbar-custom .navbar-nav li.active a:focus,
            .navbar-custom .navbar-nav li.active a:active {
                color: white;
                background: #18BC9C;
            }

    .navbar-custom .navbar-toggle {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        border-color: white;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #18BC9C;
            color: white;
            border-color: #18BC9C;
        }

@media (min-width: 768px) {
    .navbar-custom {
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

        .navbar-custom .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .navbar-custom.affix {
            padding: 10px 0;
        }

            .navbar-custom.affix .navbar-brand {
                font-size: 1.5em;
            }
}

section {
    padding: 30px 0;
}

    section h2 {
        margin: 0;
        font-size: 2em;
    }

    section.success {
        background: #18BC9C;
        color: white;
    }

@media (max-width: 767px) {
    section {
        padding: 20px 0;
    }

        section.first {
            padding-top: 75px;
        }
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

    .btn-outline:hover,
    .btn-outline:focus,
    .btn-outline:active,
    .btn-outline.active {
        color: #18BC9C;
        background: white;
        border: solid 2px white;
    }

.btn-primary, .btn-default {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-primary {
        color: white;
        background-color: #1a242f;
        border-color: #161f29;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #2C3E50;
        border-color: #2C3E50;
    }

    .btn-primary .badge {
        color: #2C3E50;
        background-color: white;
    }

.btn-success {
    color: white;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        color: white;
        background-color: #128f76;
        border-color: #11866f;
    }

    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        background-image: none;
    }

    .btn-success.disabled,
    .btn-success[disabled],
    fieldset[disabled] .btn-success,
    .btn-success.disabled:hover,
    .btn-success[disabled]:hover,
    fieldset[disabled] .btn-success:hover,
    .btn-success.disabled:focus,
    .btn-success[disabled]:focus,
    fieldset[disabled] .btn-success:focus,
    .btn-success.disabled:active,
    .btn-success[disabled]:active,
    fieldset[disabled] .btn-success:active,
    .btn-success.disabled.active,
    .btn-success[disabled].active,
    fieldset[disabled] .btn-success.active {
        background-color: #18BC9C;
        border-color: #18BC9C;
    }

    .btn-success .badge {
        color: #18BC9C;
        background-color: white;
    }


.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}

    .scroll-top .btn {
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 28px;
    }

        .scroll-top .btn:focus {
            outline: none;
        }
