﻿@model IEnumerable<Ydelsesberegner.Admin.ViewModels.JobViewModel>

@{
    ViewBag.Title = "Jobs";
}

<h2>@ViewBag.Title</h2>
<div class="row margin-top">
    <div class="col-md-2">
        <label>Vælg applikation</label>
    </div>
    <div class="col-md-3">
        @Html.DropDownList("Applications", null, "Vælg applikation", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-7">
        <a href="" id="create-job" class="btn btn-default">Opret nyt job</a>
    </div>
</div>
<hr />
<div class="row margin-top">
    <div class="col-md-12">
        <table id="jobs-table" class="table table-striped table-responsive table-hover">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{
    <script src="~/Content/Scripts/Custom/jobs.js"></script>
}