﻿@model IEnumerable<Ydelsesberegner.User.ViewModels.ApplicationViewModel>

@{
    Layout = ViewBag.Layout;

    ViewBag.Title = "Vælg applikation";
}


@foreach (var app in Model)
{
    <div class="row margin-top">
        <div class="col-xs-12">
            @Html.ActionLink(app.Name, "ChooseApplication", "Applications", new { id = app.ApplicationId }, new { @class = "btn btn-default" })
        </div>
    </div>
}