﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syddjurs Kommune | Ydelsesberegner -> @ViewBag.Title</title>
    <link href="~/Content/Styles/Libraries/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Custom/Default.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)
</head>
<body ng-app="ydelsesberegnerUserApp">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <a href="@Url.Action("ClearSessions", "Applications")">
                        <img src="~/Content/Images/syddjurs_logo.png" alt="Syddjurs Kommune" class="img-responsive" />
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="@Url.Action("ClearSessions", "Applications")">
                        <img src="~/Content/Images/syddjurs_jobcenter_logo.png" alt="Syddjurs Kommune - Jobcenter" class="img-responsive pull-right jobcenter-logo" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-top">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer></footer>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-app")

    @RenderSection("scripts", required: false)
</body>
</html>
