﻿body {
    font-family: Verdana !important;
    font-size: 13px !important;
    background-image: none !important;
}

h1 {
    font-size: 18px !important;
    font-weight: bold !important;
}

h2 {
    font-size: 15px !important;
    font-weight: bold !important;
    /*margin-top: 30px !important;*/
}

img {
    max-width: 700px !important;
    height: auto !important;
}

/*#wrapper {
    width: 700px;
    margin: auto;
    margin-top: 50px;
}

#logo {
    margin-bottom: 30px;
    height: 100px;
}

.page-break {
    page-break-before: always;
}*/

@media print {
    a[href]:after {
        content: none !important;
    }
}